body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font: 12px/1.5, arial, '\5b8b\4f53';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

html,
code,
kbd,
pre,
samp {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' couriernew, courier, monospace;
}

small {
  font-size: 12px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

*::-webkit-scrollbar {
  /* 滚动条整体样式 */
  width: 6px; /* 高宽分别对应横竖滚动条的尺寸 */
  height: 1px;
  transition: opacity 80ms ease;
}

*::-webkit-scrollbar-thumb {
  /* 滚动条里面小方块 */
  border-radius: 10px;
  background-color: transparent;
  cursor: pointer;
}

*::-webkit-scrollbar-thumb:hover {
  /* 滚动条里面小方块 */
  background-color: #9093994d;
}

*::-webkit-scrollbar-track {
  /* 滚动条里面轨道 */

  /* box-shadow: inset 0 0 5px rgb(0 0 0 / 20%); */

  /* background: #ededed; */
  border-radius: 10px;
}

.inp-out {
  outline: none;
}

html,
body {
  width: 100vw;
  height: 100%;
}

#app {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
