@prefixCls: ~'@{prefix}';

.@{prefixCls}-menu {
  &-item:first-child {
    margin-top: 0 !important;
  }
  .@{prefixCls}-menu-item-content::before {
    left: 0;
    right: 0;
  }

  &--horizontal {
    width: 100%;
    flex: 1;
  }
}
